
  <body>
    <div class="login-form">
       <div class="text">
          LOGIN
       </div>
       <form (ngSubmit)="login()">
          <div class="field">
             <div class="fas fa-envelope"></div>
             <input type="email" placeholder="Email" [(ngModel)]="email" name="email">
          </div>
          <div class="field">
             <div class="fas fa-lock"></div>
             <input type="password" placeholder="Password" [(ngModel)]="password" name="password">
          </div>
          <button>LOGIN</button>
          <div class="link">
             Not a member?
             <a href="#">Signup now</a>
          </div>
       </form>
    </div>
 </body>
