

  <body>
    <div class="login-form">
       <div class="text">
          REGISTER
       </div>
       <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="field">
          <div class="fas fa-envelope"></div>
          <input 
            type="name" 
            placeholder="Name" 
            [(ngModel)]="name" 
            name="name">
       </div>
          <div class="field">
             <div class="fas fa-envelope"></div>
             <input 
               id="email"
               type="email"   
               placeholder="enter your email" 
               formControlName="email" 
               name="email">
          </div>
          <div class="field">
             <div class="fas fa-lock"></div>
             <input 
               id="password"
               type="password" 
               placeholder="enter password" 
               formControlName="password" 
               name="password">
          </div>
          <div class="field">
            <div class="fas fa-lock"></div>
            <input type="password" placeholder="Re-Password" [(ngModel)]="password" name="password">
         </div>
          <button>REGISTER</button>
          <div class="link">
             Not a member?
             <a href="#">Signup now</a>
          </div>
       </form>
    </div>
 </body>
