<!-- <section class="home">
    <h1>Welcome to SkillSwap</h1>
    <p>Exchange skills. Learn from others. Grow together.</p>
  
    <a routerLink="/register" class="btn">Get Started</a>
  </section> -->

  <section class="hero">
    <div class="hero-content">
      <h1>Exchange skills. Learn faster. Grow together.</h1>
      <p>
        SkillSwap helps young people share knowledge, discover new skills,
        and connect with others who want to learn.
      </p>
  
      <div class="hero-actions">
        <a routerLink="/skills" class="btn primary">Browse Skills</a>
        <a routerLink="/register" class="btn secondary">Get Started</a>
      </div>
    </div>
  </section>
  
  <section class="features">
    <article>
      <h3>Discover Skills</h3>
      <p>Browse skills shared by other users.</p>
    </article>
  
    <article>
      <h3>Share Your Knowledge</h3>
      <p>Create your own skill posts and help others learn.</p>
    </article>
  
    <article>
      <h3>Like & Comment</h3>
      <p>Save interesting skills and join discussions.</p>
    </article>
  </section>
